<div class="blog-masthead ">
    <nav class="blog-nav" style="width: 98%">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <a class="blog-nav-item active" href="#">Home</a>
                <a class="blog-nav-item" href="#/project">Project</a>
                <a class="blog-nav-item" href="#/work">Work</a>
                <a class="blog-nav-item" href="#/users">User</a></div>
            <div class="col-xs-12 col-sm-6 col-md-4" style="text-align: right">
                <a class="blog-nav-item" href="#">Please login </a>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div class="table-responsive">
        <!-- <h4 class="blog-post-title">Wenzhou-Kean Univsersity SpF Research Project </h4> -->
        <div class="row" style="margin-top: 20px">
            <div class="col-md-8">
                <img src="img/spf_banner.jpg" width="100%" />
                <hr/>
            </div>
            <div class="col-md-4">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input for="email" class="form-control" placeholder="Email" ng-model="login.email" required focus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="login.password" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-default" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">Sign in</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
