    <button type="button" class="close" ng-click="cancel();">
        <i class="glyphicon glyphicon-remove" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Edit product [ID: {{product.id}}]</h3>
    </div>
    <div class="modal-body">
        <form name="product_form" class="form-horizontal" role="form" novalidate>
            <form-element label="NAME" mod="product">
                <input type="text" class="form-control" name="title" placeholder="NAME" ng-model="product.title" ng-disabled="product.id" focus/>
            </form-element>
            <form-element label="DESCRIPTION" mod="product">
            <textarea class="form-control" name="description" placeholder="DESCRIPTION" ng-model="product.description">{{product.description}}</textarea>
            </form-element>
            <form-element label="PRICE" mod="product">
                <input type="text" name="student" class="form-control" placeholder="PRICE" ng-model="product.student"  only-numbers/>
                <small class="errorMessage" ng-show="product_form.student.$dirty && product_form.student.$invalid"> Enter the student.</small>
            </form-element>

           <form-element label="STOCK" mod="product">
                <input type="text" name="faculty" class="form-control" placeholder="STOCK" ng-model="product.faculty" only-numbers/>
                <small class="errorMessage" ng-show="product_form.faculty.$dirty && product_form.faculty.$invalid"> Enter the available faculty.</small>
            </form-element>

            <form-element label="PACKING" mod="product">
                <input type="text" name="progress" class="form-control" placeholder="PACKING" ng-model="product.progress"/>
                <small class="errorMessage" ng-show="product_form.progress.$dirty && product_form.progress.$invalid"> Enter the Packing.</small>
            </form-element>

            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon glyphicon glyphicon-remove"></i>Cancel</a>
                        <button ng-click="saveProduct(product);"
                                ng-disabled="product_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon glyphicon glyphicon-ok"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

