<div class="blog-masthead ">
    <nav class="blog-nav" style="width: 98%">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
                <a class="blog-nav-item" href="#/dashboard">Dashboard</a>
                <a class="blog-nav-item active" href="#/projects">Project</a>
                <a class="blog-nav-item" href="#/tasks">Task</a>
                <a class="blog-nav-item" ng-show="name.role == 'Administrator'" href="#/users">User</a>
                <a class="blog-nav-item" ng-show="name.role == 'Administrator'" href="#/settings">Setting</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7" style="text-align: right">
                <a class="blog-nav-item">Howdy, {{name.role}}, {{name.name}} </a>
                <a class="button button-pill button-tiny " href="#" ng-click="logout();"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
            </div>
        </div>
    </nav>
</div>
<h4 class="blog-post-title">Projects</h4>
<hr/>
<div class="table-responsive">
    <div class="panel">
        <div class="panel-heading">
            <button type="button" class="btn btn-primary fa fa-plus" ng-show="name.role == 'Administrator'" ng-click="open(project);">&nbsp;Add New Project</button>
            <div class="sw-search">
                <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter projects list ..." class="nav-search-input" ng-model="filterProject" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th ng-repeat="c in columns">{{c.text}}</th>
                </tr>

                <tr ng-repeat="c in projects | filter:filterProject | orderBy:'-project_ID'" id="{{c.project_ID}}" animate-on-change='c.project_title + c.project_student + c.project_faculty + c.project_description' ng-animate=" 'animate'">
                    <td>{{c.project_title}}</td>
                    <!-- <td>{{c.description}}</td> -->
                    <td>{{c.project_student}}</td>
                    <td>{{c.project_faculty}}</td>
                    <td width="150px">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{(c.project_progress / c.project_maxhour) * 100}}%;">
                                {{c.project_progress}} Hours
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default" ng-click="openReport(c)">Check the report
                        </button>
                    </td>
                    <td>
                        <button class="btn" ng-class="{Active:'btn-success', Inactive:''}[c.project_status]" ng-show="name.role == 'Student'">{{c.project_status}}
                        </button>
                        <button class="btn" ng-class="{Active:'btn-success', Inactive:''}[c.project_status]" ng-show="name.role == 'Administrator' || name.role == 'Faculty'" ng-click="changeProductStatus(c);">{{c.project_status}}
                        </button>
                    </td>
                    <td style="width:100px">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default glyphicon glyphicon-tasks" ng-show="name.role == 'Faculty'" ng-click="task(c);"></button>
                            <button type="button" class="btn btn-default glyphicon glyphicon-pencil" ng-show="name.role == 'Administrator'" ng-click="open(c);"></button>
                            <button type="button" class="btn btn-danger glyphicon glyphicon-trash" ng-show="name.role == 'Administrator'" ng-click="deleteProduct(c);"></button>
                        </div>
                    </td>
                </tr>
               <tr ng-show="projects.length==0">
                    <td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td>
                </tr>
                <tr ng-hide="projects.length>-1">
                    <td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td>
                </tr>
            </table>
        </div>
    </div>
</div>