<div class="blog-masthead ">
    <nav class="blog-nav" style="width: 98%">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
                <a class="blog-nav-item" href="#/dashboard">Dashboard</a>
                <a class="blog-nav-item" href="#/projects">Project</a>
                <a class="blog-nav-item active" href="#/tasks">Task</a>
                <a class="blog-nav-item" ng-show="name.role == 'Administrator'" href="#/users">User</a>
                <a class="blog-nav-item" ng-show="name.role == 'Administrator'" href="#/settings">Setting</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7" style="text-align: right">
                <a class="blog-nav-item">Howdy, {{name.role}}, {{name.first_name}} </a>
                <a class="button button-pill button-tiny " href="#" ng-click="logout();"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
            </div>
        </div>
    </nav>
</div>
<h4 class="blog-post-title">Tasks</h4>
<hr/>
<div class="table-responsive">
    <div class="panel">
        <div class="panel-heading">
            <button type="button" class="btn btn-primary fa fa-plus" ng-show="name.role == 'Administrator' || name.role == 'Faculty'"  ng-click="open(task);">&nbsp;Add New Task</button>
            <div class="sw-search">
                <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter products list ..." class="nav-search-input" ng-model="filterProduct" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr ng-show="tasks.length==0">
                    <td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td>
                </tr>
                <tr ng-hide="tasks.length>-1">
                    <td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td>
                </tr>
                <tr>
                    <th ng-repeat="c in columns">{{c.text}}</th>
                </tr>
                <tr ng-repeat="c in tasks | filter:filterProduct | orderBy:'-task_ID'" id="{{c.task_ID}}" animate-on-change='c.task_author + c.task_title + c.task_student + c.task_faculty + c.task_description' ng-animate=" 'animate'">
                    <td>{{c.task_description}}</td>
                    <td>{{c.task_author}}</td>
                    <td>{{c.task_student}}</td>
                    <td>
                        {{c.task_due}}
                    </td>
                    <td>
                        {{c.task_progress}}
                    </td>
                    <td style="width:100px">
                        <div class="btn-group">
                            
                            <button type="button" ng-show="name.role == 'Student' "class="btn btn-default" ng-click="open(c);">Upload my work</button>
                            <button type="button" ng-show="name.role == 'Administrator' || name.role == 'Faculty'" class="btn btn-default glyphicon glyphicon-pencil" ng-click="open(c);"></button>
                            <button type="button" ng-show="name.role == 'Administrator' || name.role == 'Faculty'" class="btn btn-danger glyphicon glyphicon-trash" ng-click="deleteProduct(c);"></button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>