<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h3 class="modal-title">{{buttonText}}   {{task.task_ID}} </h3>
</div>
<div class="modal-body">
    <form name="product_form" class="form-horizontal" role="form" novalidate>
        <form-element label="DESCRIPTION" mod="task">
            <textarea class="form-control" name="description" placeholder="DESCRIPTION" ng-model="task.task_description">{{task.task_description}}</textarea>
        </form-element>
        <form-element label="STUDENT" mod="task">
            <div class="dropdown">
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown trigger
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    Remove
                </ul>
            </div>
            <small class="errorMessage" ng-show="product_form.student.$dirty && product_form.student.$invalid"> Enter the  student.</small>
            <div class="row">
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Add</button>
                       </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </form-element>
        <h2>Callback</h2>
        <div>
            <h4>Select a date from either picker</h4>
            <div ng-bind="callbackState"></div>
            <button ng-click="callbackState = 'Callback: Not fired'">Reset state</button>
        </div>
        <input type="text" date-time ng-model="dates.today" view="hours" date-change="changeDate" />
        <div date-picker="dates.today" view="date" date-change="changeDate" timezone="UTC" watch-direct-changes="true"></div>
        <form action="" class="form-horizontal" role="form">
        </form>
        <div class="space"></div>
        <div class="space-4"></div>
        <div class="modal-footer">
            <form-element label="">
                <div class="text-right">
                    <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                    <button ng-click="saveProduct(task);" ng-disabled="product_form.$invalid || enableUpdate" class="btn btn-sm btn-primary" type="submit">
                        <i class="ace-icon fa fa-check"></i>{{buttonText}}
                    </button>
                </div>
            </form-element>
        </div>
    </form>
</div>
